<div class="about-aside">
    <h3 class="title">关于易淘</h3>
    <div class="about-aside-wrap">
        <div class="cursor" style="visibility:hidden;"></div>
        <ul>
            <li {{if pageName =='about-company'}}class="on"{{/if}}><a href="aboutus">公司简介</a></li>
            <li {{if pageName =='about-history'}}class="on"{{/if}}><a href="about-history">大事记</a></li>
            <li {{if pageName =='about-business'}}class="on"{{/if}}><a href="about-business">业务范畴</a></li>
            <li {{if pageName =='etaoer'}}class="on"{{/if}}><a href="etaoer">易淘人</a></li>
            <li {{if pageName =='about-culture'}}class="on"{{/if}}><a href="about-culture">文化和价值观</a></li>
            <li {{if pageName =='about-honor'}}class="on"{{/if}}><a href="about-honor">公司荣誉</a></li>
        </dl>
    </div>
</div>