<!DOCTYPE html>
<html>
    <head>
        <title>易淘-{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="{{$g.cdn}}/css/{{$g.theme?($g.theme+'/'):''}}p/{{pageName}}.css?v={{$ver}}"/>
        <link rel="shortcut icon" href="{{$g.cdn}}/img/favicon.ico" type="image/x-icon" />
    </head>
    <body>
    	<div id="etao-wrap" class="g-main">
            <module:header-menu />
            <div id="bd" class="g-wrap">
                <div id="bd-inner">
    				<point:content/>
                </div>
            </div>
            <module:footer />            
        </div>

        <!--<script src="{{$g.assets}}/js/jquery1.7.2.min.js?v={{$ver}}"></script>
        <script src="{{$g.cdn}}/js/p/{{pageName}}.js?v={{$ver}}"></script>
        <script>
        $(function() {
            var lis = $('#headermenu .nav li');
            var ele_cursor = $('#headermenu .cursor');

            function moveCursor(ele) {
                ele_cursor.css({
                    'left': ele[0].offsetLeft + 'px',
                    'width': ele.width() + 'px'
                });
            }
            if(!$.browser.msie || $.browser.version > 9){
                lis.hover(function() {
                    moveCursor($(this))
                }, function() {
                    moveCursor($('#headermenu .on'));
                });
            }

            moveCursor($('#headermenu .on'));
            setTimeout(function () {
                ele_cursor.css({
                    '-webkit-transition': 'all 0.3s ease-out 0.0s',
                    '-ms-transition': 'all 0.3s ease-out 0.0s',
                    'transition': ' all 0.3s ease-out 0.0s',
                    'visibility': 'visible'
                });            
            }, 100);
        });        
        </script>
        <point:script />
    </body>
</html>
