<script>
    $(function () {
        var lis = $('.about-aside-wrap li');
        var eHeight = lis.height();
        lis.each(function (index, li) {
            $(li).data('idx', index)
        });
        var ele_cursor = $('.about-aside .cursor');
        ele_cursor.height(eHeight);
        function moveCursor(ele){
            ele_cursor.css({
                'top': $(ele).data('idx') * eHeight + 'px'
            });
        }
        ele_cursor.css({
            '-ms-transition': 'all 0.3s ease-out 0.0s',
            '-webkit-transition': 'all 0.3s ease-out 0.0s',
            'transition':' all 0.3s ease-out 0.0s',
            'visibility': 'visible'
        });
        if(!$.browser.msie || $.browser.version > 9){
            lis.hover(function(){
               moveCursor($(this))
            }, function(){
                moveCursor($('.about-aside .on'));
            });
        }
        moveCursor($('.about-aside .on'))
    });
    $(function () {
        if($.browser.msie && $.browser.version<8 ){return;}
        var ele = $('.about-aside-wrap').parent();
        var criticalLine  = ele.position().top - 10;
        // debugger
        if($(window).height() < (criticalLine+10)){
            return;
        }
        $(window).scroll(function(){
            if($(document).scrollTop() >= criticalLine){
                if(ele.css('position') == 'fixed'){
                    return;}
                ele.css({
                    'position':'fixed',
                    'top': 10,
                })
            }else{
                ele.css({
                    'position':'static',
                    'top': 0
                })
            }
        });
    });
</script>