<div class="aside about-aside">
    <h3 class="title">职位类别</h3>
    <div class="about-aside-wrap">
        <div class="cursor" style="visibility:hidden;"></div>
        <ul>
            <li {{if pageName == "zhaopin-detail01"}}class="on"{{/if}}><a href="joinus1">技术类</a></li>
            <li {{if pageName == "zhaopin-detail"}}class="on"{{/if}}><a href="joinus2">产品类</a></li>
            <li {{if pageName == "zhaopin-detail03"}}class="on"{{/if}}><a href="joinus3">设计类</a></li>
            <li {{if pageName == "zhaopin-detail04"}}class="on"{{/if}}><a href="joinus4">市场类</a></li>
            <li {{if pageName == "zhaopin-detail05"}}class="on"{{/if}}><a href="joinus5">职能类</a></li>
        </ul>
    </div>
<!--     <h3 class="title">热招职位</h3>
    <ul>
        <li><a href="joinus1#ios">IOS开发工程师</a></li>
        <li><a href="joinus1#andorid">Android开发工程师</a></li>
        <li><a href="joinus1#qa">测试工程师</a></li>
        <li><a href="joinus4#xm">新媒体运营</a></li>
        <li><a href="joinus5#hr">人力资源实习生</a></li>
    </ul> -->
</div>
